<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.payphi.fluttersdkplugin">
    <uses-permission android:name="android.permission.QUERY_INTENT_PACKAGES" />
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>

        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <package android:name="net.one97.paytm" />
        <package android:name="in.org.npci.upiapp" />
        <package android:name="in.amazon.mShop.android.shopping" />
        <package android:name="com.mobikwik_new" />
        <package android:name="com.freecharge.android" />
        <package android:name="club.cred" />
        <package android:name="com.myairtelapp" />
        <package android:name="com.hcl.payzapp" />
        <package android:name="com.icicibank.pockets" />
        <package android:name="com.csam.icici.bank.imobile" />
        <package android:name="com.sbi.upi" />
        <package android:name="com.axisbank.upi" />
        <package android:name="com.mipay.wallet.in" />
        <package android:name="com.navi.app" />
        <package android:name="com.ril.customerapp" />
        <package android:name="com.tatanew.app" />
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.facebook.orca" />
        <package android:name="org.thoughtcrime.securesms" />
        <package android:name="in.mohalla.sharechat" />
        <package android:name="com.jiochat.jiochatapp" />
        <package android:name="com.truecaller" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.instagram.android" />
        <package android:name="com.flipkart.android" />
        <package android:name="com.myntra.android" />
        <package android:name="com.meesho.supply" />
        <package android:name="com.ril.ajio" />
        <package android:name="com.tatacliq.ecommerce.fashion.android" />
        <package android:name="com.nykaa" />
        <package android:name="com.bigbasket.mobileapp" />
        <package android:name="com.blinkit.android" />
        <package android:name="com.application.zomato" />
        <package android:name="com.swiggy.instamart" />
        <package android:name="com.olacabs.customer" />
    </queries>

</manifest>
